<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
	<main class="wp-block-group">
		<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"100px","right":"0px","bottom":"100px","left":"0px"}}},"backgroundColor":"foreground"} -->
<div class="wp-block-group alignfull has-foreground-background-color has-background" style="padding-top:100px;padding-right:0px;padding-bottom:100px;padding-left:0px"><!-- wp:image {"align":"wide","id":3875,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image alignwide size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/04/image-169-1.jpeg?w=1024" alt="" class="wp-image-3875" /></figure>
<!-- /wp:image -->

<!-- wp:separator {"backgroundColor":"background"} -->
<hr class="wp-block-separator has-text-color has-background-color has-alpha-channel-opacity has-background-background-color has-background" />
<!-- /wp:separator -->

<!-- wp:gallery {"linkTo":"none","align":"wide"} -->
<figure class="wp-block-gallery alignwide has-nested-images columns-default is-cropped"><!-- wp:image {"id":3959,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/image-170.jpeg?w=1024" alt="" class="wp-image-3959" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3960,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/image-171-1.jpeg?w=1024" alt="" class="wp-image-3960" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3961,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/image-172.jpeg?w=1024" alt="" class="wp-image-3961" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3962,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/image-173.jpeg?w=1024" alt="" class="wp-image-3962" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3963,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/image-174.jpeg?w=782" alt="" class="wp-image-3963" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3964,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/image-175.jpeg?w=1024" alt="" class="wp-image-3964" /></figure>
<!-- /wp:image --></figure>
<!-- /wp:gallery --></div>
<!-- /wp:group --><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)"><!-- wp:columns {"align":"wide"} -->
<div class="wp-block-columns alignwide"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:paragraph -->
<p><strong>José Guadalupe Posada</strong></p>
<!-- /wp:paragraph --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:gallery {"linkTo":"none","align":"wide"} -->
<figure class="wp-block-gallery alignwide has-nested-images columns-default is-cropped"><!-- wp:image {"id":3966,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/rectangle-406.jpeg?w=832" alt="" class="wp-image-3966" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3967,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/rectangle-405.jpeg?w=832" alt="" class="wp-image-3967" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3968,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/rectangle-404.jpeg?w=832" alt="" class="wp-image-3968" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3969,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/rectangle-396.jpeg?w=781" alt="" class="wp-image-3969" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3970,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/rectangle-395.jpeg?w=781" alt="" class="wp-image-3970" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3971,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/rectangle-393.jpeg?w=832" alt="" class="wp-image-3971" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3972,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/rectangle-394.jpeg?w=720" alt="" class="wp-image-3972" /></figure>
<!-- /wp:image -->

<!-- wp:image {"id":3973,"sizeSlug":"large","linkDestination":"none"} -->
<figure class="wp-block-image size-large"><img src="https://dotcompatterns.files.wordpress.com/2021/05/rectangle-392.jpeg?w=781" alt="" class="wp-image-3973" /></figure>
<!-- /wp:image --></figure>
<!-- /wp:gallery --></div>
<!-- /wp:group -->
	</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->